
@import "./variable";

// back-button ----------------------------------------
.back-button {
  text-decoration: none;
  width: 48px;
  height: 48px;
  line-height: 46px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  transition: all 100ms linear
}

@media(max-width: 480px) {
  .back-button {
      width:32px;
      height: 32px;
      line-height: 30px
  }
}

.back-button,.back-button:visited {
  color: $dh-naka
}

.back-button:hover,.back-button:focus {
  color: #fff;
  background: $primary;
  opacity: 1
}

.back-button::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22rgb(51%2C68%2C85)%22%20d%3D%22M427%20234.625H167.296l119.702-119.702L256%2085%2085%20256l171%20171%2029.922-29.924-118.626-119.7H427v-42.75z%22%2F%3E%3C%2Fsvg%3E") center center/24px 24px no-repeat;
  height: 24px;
  width: 24px;
  vertical-align: middle
}

.back-button:hover::before,.back-button:focus::before {
  display: inline-block;
  vertical-align: middle;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22rgb(255%2C255%2C255)%22%20d%3D%22M427%20234.625H167.296l119.702-119.702L256%2085%2085%20256l171%20171%2029.922-29.924-118.626-119.7H427v-42.75z%22%2F%3E%3C%2Fsvg%3E") center center/24px 24px no-repeat;
  height: 24px;
  width: 24px
}

@media(max-width: 480px) {
  .back-button::before {
      font-size:16px
  }
}


// home-button ----------------------------------------
.home-button {
  display: inline-block;
  box-shadow: inset 0 0 0 1px rgba(102,119,136,.2);
  border-radius: 50%
}

.home-button,.home-button:visited {
  color: $dh-naka
}

.home-button:hover,.home-button:focus {
  background-color: $primary;
  color: #fff
}

.home-button>i::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22rgb(102%2C119%2C136)%22%20d%3D%22M256%20112L96%20240v208h112V320h96v128h112V240L256%20112zm144%20320h-80V304H192v128h-80V247.69l144-115.2%20144%20115.2V432z%22%2F%3E%3Cpath%20fill%3D%22rgb(102%2C119%2C136)%22%20d%3D%22M256%2064l-96%2076.8V96H96v96l-32%2025.498%2011.51%2011.384L256%2084.49l180.49%20144.393L448%20217.498%20256%2064zm-112%2089.6l-32%2025.6V112h32v41.6z%22%2F%3E%3C%2Fsvg%3E") center center/24px 24px no-repeat;
  height: 24px;
  width: 24px;
  height: 48px;
  line-height: 48px;
  width: 48px
}

.home-button:hover>i::before {
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0icmdiKDI1NSwyNTUsMjU1KSIgZD0iTTI1NiAxMTJMOTYgMjQwdjIwOGgxMTJWMzIwaDk2djEyOGgxMTJWMjQwTDI1NiAxMTJ6Ii8+PHBhdGggZmlsbD0icmdiKDI1NSwyNTUsMjU1KSIgZD0iTTI1NiA2NGwtOTYgNzYuOFY5Nkg5NnY5NmwtMzIgMjUuNDk4IDExLjUxIDExLjM4NEwyNTYgODQuNDlsMTgwLjQ5IDE0NC4zOTNMNDQ4IDIxNy40OTggMjU2IDY0eiIvPjwvc3ZnPg==)
}


// push-button ----------------------------------------
.push-button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 3px
}

.push-button,.push-button:visited {
  background-color: $primary;
  background: linear-gradient(5deg,$primary,#9066b8);
  color: #fff
}

.push-button:hover,.push-button:focus {
  background: #4f3d85;
  box-shadow: none;
  color: #fff
}

.-dark.push-button,.-dark.push-button:visited {
  background: #4f3d85;
  color: #fff
}

.-dark.push-button:hover,.-dark.push-button:focus {
  background: #3e3069;
  color: #fff
}

// top-button -----------------------------------------
.top-sheet {
  padding: 4px;
  text-decoration: none;

  & > .info {
    display: block;
    background: $primary;
    color: white;
    text-align: left;
    padding: 16px;
    width: auto;
    border-radius: 3px;
    box-shadow: $shadow2;
    text-shadow: 0 1px 1px rgba($dh-text, 0.3);
    white-space: nowrap;
  }

  &:hover > .info,
  &:focus > .info {
    box-shadow: $shadow3;
  }

  &:nth-of-type(3n + 1) {
    & > .info {
      background: linear-gradient(15deg, $primary, adjust-color($primary, $lightness: 4%, $hue: 20deg));
    }

    &:hover > .info,
    &:focus > .info {
      background: darken($primary, 8%);
    }
  }

  &:nth-of-type(3n + 2) {
    & > .info {
      background: linear-gradient(15deg, $dh-mute, adjust-color($dh-mute, $lightness: 4%, $hue: -10deg));
    }

    &:hover > .info,
    &:focus > .info {
      background: darken($dh-mute, 8%);
    }
  }

  &:nth-of-type(3n + 3) {
    & > .info {
      background: linear-gradient(15deg, $primary, adjust-color($primary, $lightness: 2%, $hue: 6deg));
    }

    &:hover > .info,
    &:focus > .info {
      background: darken($primary, 8%);
    }
  }

  & > .info > .title {
    display: none;
  }
}







