@import '../styles/variable';

:global(.markdown-body) {
  margin: 15px 20px;
  h1 {
    font-size: 1.5em;
  }
}

p.powered {
  margin: 1rem 20px;
  text-align: right;
  a {
    font-size: 12px;
  }
}
