@import '../styles/variable';

.typegroup {
  font-family: $font-mono;
  .typename {
    padding: 2px 0;
    @include ms-respond(font-size, 1);
    cursor: pointer;
    &:hover {
      background-color: $white-duck;
    }
  }
  i.icon {
    margin: 0 10px;
    transition: transform 0.25s ease;
  }
  ul.childrens {
    display: none;
    li {
      cursor: pointer;
      height: 22px; // Caused a.item overflow: hidden
      &:hover {
        a.item:not(.current) {
          background-color: $white-duck;
        }
      }
    }
    a.item {
      display: inline-block;
      margin-left: 21px;
      padding: 0 8px;
      border-radius: 2px;

      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &.current {
        background-color: $primary;
        color: $white;
      }
    }
  }

  &.expanding {
    i.icon {
      transform: rotate(90deg);
    }
    .childrens {
      display: block;
    }
  }
}

.menubox {
  // width: 315px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  margin-bottom: 0.75rem;
}

.document {
  height: calc(100vh - 80px);
  overflow-y: auto;
}
