@import '../styles/variable';

.typegroup {
  font-family: $font-mono;
  .typename {
    padding: 2px 0;
    @include ms-respond(font-size, 1);
    cursor: pointer;
    &:hover {
      background-color: $white-duck;
    }
  }
  i.icon {
    margin: 0 10px;
    transition: transform 0.25s ease;
  }
  ul.childrens {
    display: none;
    a.item {
      display: block;
      &:hover {
        span {
          background-color: $white-duck;
        }
      }
      span {
        display: inline-block;
        margin-left: 21px;
        padding: 2px 8px;
        border-radius: 2px;
        &.current {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }

  &.expanding {
    i.icon {
      transform: rotate(90deg);
    }
    .childrens {
      display: block;
    }
  }
}

.menubox {
  // width: 315px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  margin-bottom: 0.75rem;
}

.document {
  height: calc(100vh - 80px);
  overflow-y: auto;
}
