@import '../styles/variable';

.extwapper {
  position: absolute;
  bottom: 35px;
  left: 35px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: $card-shadow;
  border-radius: 6px;
  color: $grey-dark;
  padding: 1.5rem;

  a.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding-left: 60px;
    background: url(../images/icons8-chrome.svg) left/contain no-repeat;
    @include stretched-link;
    span {
      color: $nobody;
    }

    opacity: 0.85;
    transition: opacity 0.25s ease, padding 0.25s ease, height 0.25s ease;
    &:hover {
      opacity: 1;
      height: 60px;
      padding-left: 70px;
      h3 {
        text-decoration: underline;
      }
    }
  }
}
