@import '../styles/variable';

.rework {
  opacity: 0.4;
  margin: 0 20px;
  @include ms-respond(font-size, 2);
  &.loaddone {
    opacity: 1;
    transition: opacity 100ms linear 100ms;
  }
}

p.reference {
  margin: 0 20px 1rem;
  a {
    background: url(/keys/rework.png) left center/contain no-repeat;
    padding-left: 20px;
    font-size: 12px;
  }
}

:global(.rework-item) {
  background: #fff;
  border: .05em solid #fff;
  border-radius: .2em;
  box-shadow: 0 .05em .15em rgba(51,51,51,.05);
  color: #333;
  margin: .4em 0;
  padding: .5em;
  position: relative;
  transition: box-shadow .2s ease-in-out,transform .2s ease-in-out;
  @include ms-respond(font-size, 2);
  
  &:focus, &:hover {
    box-shadow: 0 .5em 1em rgba(51,51,51,.1);
    text-decoration: none;
    transform: translateY(-.05em);
  }

  :global(.tile-icon) {
    img {
      border-radius: .2em;
      height: 1.4em;
      width: 1.4em;
    }
  }

  :global(.tile-content) {
    overflow: hidden;
  }

  :global(.tile-title) {
    color: #333;
    font-size: .75em;
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.tile-subtitle) {
    color: #b3b2b2;
    font-size: .55em;
    font-weight: 400;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.tile-highlight) {
    background: #eeeef4;
    border-radius: .15em;
    color: #c0c0d6;
    display: block;
    font-size: .5em;
    font-style: normal;
    height: .7em;
    line-height: .5em;
    padding: .1em .1em;
    position: absolute;
    right: .4em;
    top: .4em;
  }
}

:global(.tile) {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  :global(.tile-action), :global(.tile-icon) {
    flex: 0 0 auto;
  }
  :global(.tile-subtitle), :global(.tile-title) {
    line-height: 1.8em;
  }
  :global(.tile-content) {
    flex: 1 1 auto;
    &:not(:first-child) {
      padding-left: .4em;
    }
    &:not(:last-child) {
      padding-right: .4em;
    }
  }
}

:global(.aa-dropdown-menu) {
  background: #f7f7f9;
  border-radius: .2em;
  box-shadow: 0 .2em 1em rgba(51,51,51,.25);
  margin-top: .1em;
  max-height: 65vh;
  overflow-y: auto;
  padding: .6em 1em;
  width: 100%;
  &::after {
    color: #d9d9d9;
    content: "SEARCH POWERED BY ALGOLIA";
    float: right;
    font-size: .6em;
    font-weight: 700;
    line-height: 2em
  }
  :global(.rework-item) {
    max-width: 100%
  }
}

:global(.rework-title) {
  font-size: .7em;
  font-weight: 700;
  margin-top: 1em;
  padding-top: .5em;
  &:hover :global(.rework-anchor) {
    visibility: visible
  }
  a {
    text-decoration: none
  }
  a:focus, a:hover {
    color: #09006d
  }
}

:global(.rework-list-container) {
  margin-top: .5em !important;
  flex-wrap: wrap;
  :global(.column) {
    flex-basis: auto;
    flex-grow: 0;
  }
}
