@import '../styles/variable';

.searchWapper {
  background: #fff;
  border-radius: 6px;
  transition: box-shadow 0.3s;
  box-shadow: $shadow_ionic;
  &.focus {
    box-shadow: $shadow_ionic_focus;
  }
  width: 100%;
  position: absolute;
  top: 130px;
  margin-bottom: 20px;
  z-index: 8;
  &.hasfloat {
    padding-top: 64px;
  }
}

.searchInput {
  display: flex;
  height: 64px;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  padding: 0 16px;
  &.float {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
  }
  .input {
    @include ms-respond(font-size, 2);
    padding: 16px 0;
    height: 64px;
    background: transparent;
    border: 0;
    flex: 1 1 auto;
    color: $dh-head;
    min-width: 48px;
    caret-color: $dh-mute;

    &::placeholder {
      color: $dh-mute;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      // https://stackoverflow.com/a/14205976/346701
      box-shadow: 0 0 0 50px white inset !important;
      -webkit-text-fill-color: $dh-mute !important;
    }
    &:focus {
      outline: 0;
    }
  }

  & > .prefix {
    @include ms-respond(font-size, 0);
    display: block;
    color: rgba($dh-mute, 0.5);
    font-weight: 400;
    user-select: none;
    line-height: 1.5em;
    padding: 2px 8px;
    border-radius: 3px;
    background: rgba($dh-body, 0.5);
    box-shadow: 0 1px 1px rgba($dh-mute, 0.25);
    cursor: pointer;
    font-family: $font-mono;
    &:active {
      box-shadow: none;
    }
  }

  & > .sep {
    color: rgba($dh-mute, 0.5);
    @include ms-respond(font-size, 2);
    margin: 0 6px;
  }

  // Hide prefix in mobiel
  @media (max-width: 768px) {
    & > .prefix,
    & > .sep {
      display: none;
    }

    .input {
      padding-left: 16px;
    }
  }

  // Icon
  & > i.sicon {
    color: rgba($dh-mute, 0.5);
    font-size: 20px;
    flex: 0 0 32px;
    order: 2;
    align-self: stretch;
    text-align: center;
    padding-left: 16px;
    line-height: 64px;
    cursor: pointer;
  }

  &.-small {
    & {
      height: 48px;
    }

    .input {
      padding: 8px;
      height: 48px;
      padding-left: 0;
    }

    & > .prefix,
    & > .sep,
    .input {
      @include ms-respond(font-size, 1);
    }

    &::before {
      flex: 0 0 48px;
      width: 48px;
      line-height: 48px;
      background-size: 24px 24px;
      background-position: center center;
    }
  }
}

.docsearch {
  flex-grow: 1;
  :global(.algolia-autocomplete) {
    width: 100%;
    & > input[type='search'] {
      width: 100%;
    }
  }
}

.suggeste {
  display: block !important;
  a {
    @include ms-respond(font-size, 1);
  }
  span.stars,
  span.publisher {
    margin-left: 20px;
    color: $nobody;
  }
  span.version {
    float: right;
  }
  em {
    font-weight: 700;
    font-style: normal;
  }
  .sgactive,
  .sgitem:hover {
    background: $primary;
    color: $grey-lighter;
    cursor: pointer;
    span.stars,
    span.publisher {
      color: $white-ter;
    }
    a,
    span.version {
      color: $white;
    }
  }
  a.algolia {
    background: url(../images/algolia.svg) left center/contain no-repeat;
    padding-left: 20px;
    font-size: 12px;
    margin: 0 1rem;
  }
  a.npms {
    font-size: 12px;
    margin: 0 1rem;
  }
  a.bundlephobia {
    background: url(/keys/bundlephobia.svg) left center/contain no-repeat;
    padding-left: 20px;
    font-size: 12px;
    margin: 0 1rem;
  }
}

.skgroup {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  &:not(:first-child) {
    border-top: solid 1px $white-ter;
    padding-top: 10px;
  }
  &:not(:last-child) {
    padding-bottom: 10px;
  }
  .skey {
    cursor: pointer;
    border-radius: 6px;
    flex-basis: 33%;
    display: flex;
    padding: 1em 1em 1em 0.5em;
    &:hover {
      background-color: $white-duck;
      .shortkeys {
        background: url(../images/tab.png) center right 0.5em / contain no-repeat;
        span {
          display: inline;
        }
      }
    }
  }
  .skname {
    padding-left: 46px;
    @include ms-respond(font-size, 1);
    text-shadow: 0 0 $dh-text;
    background-position: left 0.5em center;
    background-size: contain;
    background-repeat: no-repeat;
    // &.google {
    //   background: url(../images/keys/google.png) left 0.5em center/contain no-repeat;
    // }
  }
  .shortkeys {
    margin-left: 10px;
    padding-right: 40px;
    @include ms-respond(font-size, 1);
    color: $grey-light;
    span {
      display: none;
    }
  }
}

.searchResult {
  padding: 0 20px;
  .result {
    padding: 0 0 15px;
  }
  .header {
    @include ms-respond(font-size, 2);
    text-shadow: 0 0 $dh-text;
  }
  .external {
    color: #069025;
    font-size: 12px;
  }
  .content {
    word-wrap: break-word;
    color: $dh-text;
    @include ms-respond(font-size, 1);
  }
  .highlighter {
    font-weight: 700;
    background: #f8f8f8;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
  }
}

.error {
  display: flex;
  justify-content: center;
  color: $pink;
  @include ms-respond(font-size, 2);
}

.notFound {
  background: url('../images/not_found.png') center/20% no-repeat;
  height: 200px;
}

div.closer {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  &:hover {
    opacity: 1;
    background: linear-gradient(to left, $dh-body, rgba(0, 0, 0, 0.1));
  }
  & > a {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.slogan {
  position: absolute;
  bottom: -35px;
  width: 100%;
  text-align: center;
  word-spacing: 0.5em;
  color: $dh-mute;
  font-family: 'Bree Serif', sans-serif;
  // font-family: "Kreon", sans-serif;
  // font-family: "Patua One", sans-serif;
  span.zh {
    letter-spacing: 1em;
  }
  .scdropdown {
    vertical-align: middle;
  }
  i.scicon {
    cursor: pointer;
    margin-left: 5px;
  }
}

// @media (prefers-color-scheme: dark) {
//   .searchWapper {
//     background: #000;
//     box-shadow: $shadow_ionic_invert;
//     &.focus {
//       box-shadow: $shadow_ionic_focus_invert;
//     }
//   }
//   .searchInput {
//     .input {
//       color: invert($dh-head);
//       caret-color: invert($dh-mute);
//       &::placeholder {
//         color: invert($dh-mute);
//       }
//       &:-webkit-autofill,
//       &:-webkit-autofill:hover,
//       &:-webkit-autofill:focus,
//       &:-webkit-autofill:active  {
//           // https://stackoverflow.com/a/14205976/346701
//           box-shadow: 0 0 0 50px black inset !important;
//           -webkit-text-fill-color: invert($dh-mute) !important;
//       }
//     }
//     & > .prefix {
//       color: rgba(invert($dh-mute), 0.5);
//       background: rgba(invert($dh-body), 0.5);
//       margin: 0 0 0 16px;
//       box-shadow: 0 1px 1px rgba(invert($dh-mute), 0.25);
//     }

//     & > .sep {
//       color: rgba(invert($dh-mute), 0.5);
//     }
//     & > i.sicon {
//       color: rgba(invert($dh-mute), 0.5);
//     }
//   }
//   .searchResult {
//     .header {
//       text-shadow: none;
//     }
//     .external {
//       color: invert(#069025);
//     }
//     .content {
//       color: invert($dh-text);
//     }
//   }
//   .error {
//     color: invert($pink);
//   }
// }
