@import "../styles/variable";

div.history {
  padding: 15px;
}

div.stacks {
  overflow-y: auto;
  height: calc(100vh - 190px);
  p.button {
    width: auto !important;
    flex-grow: 0 !important;
  }
}

a.stack {
  font-family: $font-mono;
  @include ms-respond(font-size, 1);
  position: relative;
  & > svg.faclose {
    position: absolute;
    right: 10px;
    display: none;
    color: $grey-light;
    cursor: pointer;
    &:hover {
      color: $black;
    }
  }

  &:hover {
    & > svg.faclose {
      display: inline;
    }
  }
}

:global(a.panel-block.is-active) {
  border-bottom: none;
  cursor: default;
  color: $primary;
  &:hover {
    background-color: $white;
  }
}

div.repos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.2em 0.75em 0.5em 2.7em;
  border-bottom: 1px solid #ededed;
  p.repo {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    & > svg.faclose {
      margin-left: 8px;
      display: none;
      color: $grey-light;
      cursor: pointer;
      &:hover {
        color: $black;
      }
    }
    &:hover {
      & > svg.faclose {
        display: inline;
      }
    }
  }
}

.topbar {
  text-align: right;
}

.loading {
  width: 100%;
  z-index: 9;
  position: absolute;
  top: 0;
}

.footer {
  text-align: right;
  color: $gray;

  a.domain {
    color: $gray;
    transition: color 0.4s ease-in-out, border 0.4s ease-in-out;
    @include underline();
    &:hover {
      @include underline-hover();
      color: $black-bis;
    }
  }

  svg.github {
    font-size: 18px;
    margin-left: 10px;
    color: $grey;
    transition: color 0.4s ease-in-out, border 0.4s ease-in-out;
    &:hover {
      color: $black-bis;
    }
  }
}
